<style>
  .blog_wrapper {
    margin: auto;
    max-width: 800px;
    padding: 2em;
  }
  @media (width > 450px) {
    .blog_wrapper {
      font-size: 20px;
    }
  }
  .blog_wrapper h1 {
    margin-bottom: 1em;
  }
  .blog_wrapper video, .blog_wrapper img {
    width: 100%;
  }
  .blog_wrapper img {
    margin-bottom: 2em;
  }
  .blog_wrapper pre {
    margin-left: 2em;
    color: var(--bs-code-color);
  }
  .blog_wrapper h2, .blog_wrapper h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
</style>
<div class='blog_wrapper'>
