  <div class="container px-4">
    <div class='row text-center'>
      <h1>🎄🎄🎄 New 2024 Year update!</h1>
      <a style='font-size: 1.5em' href='/blog/mutable_data/'>
        Leporello.js now supports time-travel debugging for mutable data
      </a>
    </div>
  </div>

  <script>
    const FEATURES_TEXT = `
    - Interactive

    Your code is executed instantly as you type, with the results displayed next to it. No need to set breakpoints for debugging. Just move the cursor to any line and see what's happening.

    - Designed for functional programming

    Supercharge your functional code with unprecedented developer tooling.

    - Next level debugging capabilities

    Visualise and navigate a dynamic call graph of your program in a time-travel manner.

    - Develop HTML5 apps interactively

    Modify your code and instantly see the updated version without losing the application state. Interact with your app and debug it later, similar to using a time machine.

    - Save time when working on IO-heavy programs

    IO operations are traced and transparently replayed on subsequent program executions.

    - Self-hosted

    Leporello.js source code is developed within Leporello.js itself
  `
    const lines = FEATURES_TEXT.split('\n\n').map(line => line.trim())
    const headers = lines.filter(line => line.startsWith('-')).map(l => l.replace('-', ''))
    const desc = lines.filter(line => !line.startsWith('-'))
    const FEATURES = headers.map((header,i) => ({header, desc: desc[i]}))
  </script>
    <div class="container px-4">

      <div class="row flex-lg-row-reverse text-center text-lg-start align-items-center g-5 py-5">
        <div class="col-12 col-lg-8">
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/845773267?h=d61cd3f120" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          </div>
        <div class="col-lg-4">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Leporello.js</h1>
          <p class="lead">Interactive functional programming IDE for JavaScript</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href='https://app.leporello.tech' type="button" class="btn btn-primary btn-lg px-4 me-md-2">Try online</a>
          </div>
          <h5 class='mt-4'>List of examples showcased in the video</h5>

          <ul class='examples'>
            <li><a href='https://app.leporello.tech?example=fibonacci'>Fibonacci numbers</a></li>
            <li><a href='https://app.leporello.tech/?example=github_api'>Github API</a></li>
            <li><a href='https://app.leporello.tech/?example=todos-preact'>TODO app</a></li>
            <li><a href='https://app.leporello.tech/?example=ethers'>Ethereum data scraping</a></li>
            <li><a href='https://app.leporello.tech/?example=plot'>Inline plot</a></li>
          </ul>
        </div>
      </div>

      <div class="row g-4 py-2 py-md-4 py-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3">
        <script>
          for (const {header, desc} of FEATURES) {
            document.write(`
              <div class="feature col">
                <h3 class="fs-2 text-body-emphasis">${header}</h3>
                <p>${desc}</p>
              </div>
            `)
          }
        </script>
      </div>

      <div class='row'>
        <h1 class="display-5 fw-bold text-center">Recent blog entries</h1>
        <div class='my-3 fs-5'>
          <li>
            <i style='margin-right: 1em'>&#10240;1 Feb 2024</i>
            <a href='/blog/teach_programming_and_algorithms_more_effectively_with_leporello_js/'>
              Teach Programming and Algorithms More Effectively with Leporello.js
            </a>
          </li>
          <li>
            <i style='margin-right: 1em'>20 Jan 2024</i>
            <a href='/blog/can_debugging_be_liberated_from_the_von_neumann_style/'>
              Can debugging be liberated from the von Neumann style?
            </a>
          </li>
          <li>
            <i style='margin-right: 1em'>&#10240;8 Jan 2024</i>
            <a href='/blog/mutable_data/'>
              Leporello.js now supports time-travel debugging for mutable data
            </a>
          </li>
        </div>
      </div>


      <div class="px-4 my-3 text-center pb-5">
        <h1 class="display-5 fw-bold">Support us</h1>
        <div class="col-lg-8 mx-auto">

          <p class="lead mb-4 mt-3"> 
            Leporello.js is funded solely by your donations.
          </p>

          <p class="lead mb-4"> 
            Support us on GitHub Sponsors and be the first to gain access to the Leporello.js Visual Studio Code plugin with TypeScript support.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a 
              type="button" 
              class="btn btn-primary btn-lg px-4 gap-3 support-btn"
              href='https://github.com/sponsors/leporello-js'
            >
              Support
            </a>
          </div>
        </div>

        <!--h1 class="display-5 fw-bold my-5">Our sponsors</h1>

        <div class="github-card" data-github="TBD" data-width="320" data-height="151" data-theme="default"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script-->

      </div>

    </div>
  </body>
</html>
