<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@leporello_js">
<meta name="twitter:title" content="Leporello.js">
<meta name="twitter:description" content="Interactive functional programming IDE for JavaScript">

<meta name="twitter:image" content="https://leporello.tech/logo_sharing.png">

<meta name="twitter:player" content="https://player.vimeo.com/video/845773267">
<meta name="twitter:player:width" content="640">
<meta name="twitter:player:height" content="360">

<meta property="og:url" content="https://leporello.tech">
<meta property="og:title" content="Leporello.js">
<meta property="og:description" content="Interactive functional programming IDE for JavaScript">
<meta property="og:type" content="video.movie">

<meta property="og:image" content="https://leporello.tech/logo_sharing.png">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="418">

<meta property="og:video" content="https://player.vimeo.com/video/845773267">
<meta property="og:video:width" content="640">
<meta property="og:video:height" content="360">

